<!DOCTYPE html>
<html lang="en" style="height: 99%;width: 99%">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/icon.css}">
    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/jquery.easyui.min.js}"></script>
</head>
<body style="height: 99%;width: 99%">
<table class="easyui-datagrid" style="height: 100%;width: 100%"
       data-options="rownumbers:true,singleSelect:true,url:'/admin/static/datagrid_data1.json',method:'get',toolbar:'#tb'">
    <thead>
    <tr>
        <th data-options="field:'itemid',width:80">ID</th>
        <th data-options="field:'productid',width:100">Product</th>
        <th data-options="field:'listprice',width:80,align:'right'">List Price</th>
        <th data-options="field:'unitcost',width:80,align:'right'">Unit Cost</th>
        <th data-options="field:'attr1',width:240">Attribute</th>
        <th data-options="field:'status',width:60,align:'center'">Status</th>
    </tr>
    </thead>
</table>
<div id="tb" style="padding:5px;height:auto">
    <div style="margin-bottom:5px">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="articleController(1)" iconCls="icon-add"
           plain="true"></a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true"></a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true"></a>
    </div>
    <div>
        发布时间 从: <input class="easyui-datebox" style="width:80px">
        到: <input class="easyui-datebox" style="width:80px">
        类别:
        <select class="easyui-combobox" panelHeight="auto" style="width:100px">
            <option value="java">Java</option>
            <option value="c">C</option>
            <option value="basic">Basic</option>
            <option value="perl">Perl</option>
            <option value="python">Python</option>
        </select>
        <a href="#" class="easyui-linkbutton" iconCls="icon-search">查询</a>
    </div>
</div>

<div id="articleWindows" class="easyui-window" title="文章操作" data-options="modal:true,closed:true"
     style="width:90%;height:90%;padding:10px;">
    <iframe id="articleWindowsContent" scrolling="auto" frameborder="0" style="width:100%;height:100%;"></iframe>
</div>
<script>
    function articleController(index) {
        if (index === 1) {
            $('#articleWindowsContent').attr('src', 'articleAdd')
            $('#articleWindows').window('open')
        }

        if (index === 2) {

        }

    }
</script>
</body>
</html>

